
@media(max-width: 1200px) {
    section {
      width: 1000px;
    }
  }

  @media(max-width: 1024px) {
    section {
      width: 700px;
    }
  }

  @media(max-width: 768px) {
    section {
      width: 400px;
    }
  }

  @media(max-width: 425px) {
    section {
      width: 320px;
    }
  }