*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
color: #fff;
background: #09001d;
overflow: hidden;
}

section {
    width: 1200px;
  }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #09001d);
}
.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}
.navbar a:hover {
  color: burlywood;
}
.main {
  min-height: 100vh;
  background: url('img/background.jpg') no-repeat;
  background-size: cover;
  pointer-events: auto;
  transition: .3s ease;
}

.main.active {
  filter: blur(5px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-contet {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-contet h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}


.home-contet p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-bottom: 30px;
}
.home-contet .start-btn {
  width: 190px;
  height: 55px;
  background: rgb(221, 173, 110);
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(221, 173, 110);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(18, 18, 71);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .5s;
}
.home-contet .start-btn:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(18, 18, 71);
}
.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 500px;
  background: #f9f9fa;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: rgb(18, 18, 71);
}
.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}
.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}
.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: rgb(18, 18, 71);
  border: 2px solid rgb(18, 18, 71);
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .5s;
}
  .popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: rgb(18, 18, 71);
  }
  .popup-info .btn-group .info-btn:nth-child(1):hover {
      background: rgb(18, 18, 71);
      color: #fff;
      }
.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  background: rgb(9, 9, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: .20s;
  z-index: 100;
}

.quiz-section.active {
  left: 0;
}
.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid rgb(221, 173, 110);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(.9);
  transition: .3s ease;
  transition-delay: 0s;
}

.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, rgb(221, 173, 110), transparent);
  border-radius: 6px;
}
.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid rgb(221, 173, 110);
  margin-bottom: 12px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}
.quiz-header .header-score {
  background: rgb(221, 173, 110);
  border-radius: 3px;
  padding: 7px;
}
.quiz-box .question-text {
  font-size: 24px;
  font-weight: 600;
  margin-top: 7px;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  font-size: 17px;
  margin: 16px 0;
  cursor: pointer;
  transition: .3s;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.option-list .option.correct {
  background: forestgreen;
  color: wheat;
  border-color: forestgreen;
}

.option-list .option.incorrect {
  background: firebrick;
  color: wheat;
  border-color: firebrick;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(221, 173, 110);
  padding-top: 20px;
  margin-top: 12px;
}
.quiz-box .question-total {
  font-size: 15px;
  font-weight: 600;
}
.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .1);
  outline: none;
  border-radius: 6px;
  font-size: 17px;
  color: rgba(255, 255, 255, .3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: .4s;
}
.quiz-footer .next-btn.active:hover {
  background: rgb(160, 119, 65);
  color: rgb(9, 9, 44);
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background: rgb(221, 173, 110);
  border-color: rgb(221, 173, 110);
  color: #fff;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 500px;
  background: transparent;
  border: 2px solid rgb(221, 173, 110);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 50px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(rgb(221, 173, 110) 3.6deg, #706454 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-container .circular-progress::before {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(9, 9, 44);
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 25px;
  font-weight: 600;
  margin-top: 25px;
}

.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 45px;
  background: rgb(221, 173, 110);
  border: 2px solid rgb(221, 173, 110);
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px 20px;
  transition: .5s;
}

.buttons button:hover {
  color: rgb(9, 9, 44);
  cursor: pointer;
}

.buttons button:nth-child(2):hover {
  cursor: pointer;
  background: rgb(221, 173, 110);
  color: rgb(9, 9, 44);
}

.buttons button:nth-child(2) {
  background: transparent;
  color: rgb(221, 173, 110);
}

.home-contet p::after {
  background-color: #ffff;
  height: 3px;
  width: 600px;
  margin: 25px 0;
  content: '';
  display: block;
  border-radius: 5px;
}
.loss-message {
font-size: 24px;
color: red;
margin-top: 10px;
}